.container{

  }
  .detail-coin{
    background: #333;
    color:white;
    padding: 20px;
  }
  .detail-coin-name_rank{
      border:1px solid #7c7a7a;
      padding-left:0px;
      padding: 5px;
      padding-top: 0px;
      display: flex;
      font-size: 20px;
      font-weight: 400;
      flex-direction: row
  }
  .rank_desc{
    padding:20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .rank_coin{
    width:35%;
    display: flex;
    flex-direction: column;
    background: url('../icon/chevron.png') no-repeat;
    background-size: 100% 100%;
    text-align: center;
  }
  .rank_trig{
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-bottom: 27px solid #333;
   }
   .name_coin{
     width:65%;
     display: flex;
     flex-direction: row;
     align-items: center;
     font-size: 30px;
     padding:20px;
   }
   .detail-coin_price{
     display: flex;
     flex-direction: column;
   }
   .detail{
     color:#7c7a7a;
   }
   .price_coin{
     font-size: 30px
   }
  .title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .coin-name{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .coin-link{
    padding-left: 5px;
  }
  div.row{
     margin-left: 0px;
     margin-right: 0px;
  }
  div.col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
  }
  /* .animation{
    background-color: white;
    transition: background-color 1s;
  } */
  .coin_pumb_now{
    background-color: #c9edc9;
  }
  .coin_dump_now{
    background-color: red;
  }
  .coin_default{
    background-color: white;
    transition: background-color 1s;
  }
  #table-content {
    display: block;
  }
  @keyframes myAnimation {
  from {background-color:#f4e9de}
  to {background-color:white}
}
